.navbar
    nav.nav
        if adaptive == true
            .anchor.mobile-btn.visible__sm.visible__xs
              a(href="#calc")
                span калькулятор
            button.main-nav__toggle.main-nav__toggle--closed.main-nav__toggle--js
                span.icon-bar &nbsp;
                span.icon-bar &nbsp;
                span.icon-bar &nbsp;
            .main-nav__collapse
                +menu(navigation)
        else
            +menu(navigation)
