#form-id.mfp-hide.white-popup
    a.popup-close.popup-modal-dismiss(href="#"):  i.is-icons.is-icons--close
    .white-popup-header.text--center
      h3 заказать звонок
    .white-popup-body
      form(action="#" method="method")
        .form__group
          input.control.control-name(type='text', placeholder='Ваше имя', name='name')
        .form__group
          input.control.control-phone(type='text', placeholder='+ 7 (___) ___-__-__', name='phone')
        div
          button.btn.btn--primary.btn--full(type='submit') перезвоните мне
