//
// Base -> Buttons
// --------------------------------------------------

.btn {
  font-family: 'Proxima Nova Bold';
  display: inline-block;
  font-weight: $btn-font-weight;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  height: 45px;
  cursor: pointer;
  text-decoration: none;
  background-image: none;
  border: 1px solid transparent;
  @include button-size(10px, $padding-large-horizontal, $base-font-size, 1.2, 11px);

  // min-width: 160px;
  text-transform: uppercase;

  @media screen and (min-width: $container-md) {
    height: 64px;
    @include button-size($padding-large-vertical, $padding-large-horizontal, $base-font-size, 1.55, 11px);
  }

  &:hover,
  &:focus,
  &.focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &--full {
    display: block;
    width: 100%;
    & + & {
      margin-top: 5px;
    }
  }

  &--natural {
    vertical-align:baseline;
    font-size:inherit;
    line-height:inherit;
    padding-right:0.5em;
    padding-left: 0.5em;
  }

  // Button with icon
  &-icons {
    padding: 0;
    padding-right: 30px;
    text-align: left;
    // display: flex;
    // align-items: center;
    img {
      margin-right: 10px;
      display: inline-block;
      vertical-align: middle;
      height: 60px;
    }
    span {
      display: inline-block;
      vertical-align: middle;
      width: 67%;
      @media screen and (min-width: $container-md) {
        width: auto;
      }
    }
  }
  &-icon {
    padding: 15px 20px;
    i, span, img {
      vertical-align: middle;
    }
    img + span,
    i + span {
      margin-left: 5px;
    }
  }

  &--default {
    @include button-variant-tr1($btn-default-color, $btn-default-bg, $btn-default-border);
  }


  // Color buttons
  @if $use-btn-color == true {
    &--primary {
      @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
      border: 2px solid $btn-primary-border;
    }
    &--success {
      @include button-variant-tr2($btn-success-color, $btn-success-bg, $btn-success-border);
    }
    &--info {
      @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
      border-width: 3px;
    }
    &--warning {
      @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
    }
    &--danger {
      @include button-variant-tr($btn-danger-color, $btn-danger-bg, $btn-danger-border);
    }
    &--outlined {
      @include button-variant-tr($btn-outlined-color, $btn-outlined-bg, $btn-outlined-border);

    }
  }

  // Button Sizes
  @if $use-btn-size == true {
    &__lg {
      @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-btn, $btn-border-radius-large);
      height: 55px;
    }
    &__sm {
      @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-btn, $btn-border-radius-small);
      height: 40px;
    }
    &__xs {
      @include button-size($padding-tiny-vertical, $padding-tiny-horizontal, $font-size-tiny, $line-height-btn, $btn-border-radius-small);
      height: 35px;
    }
  }

  &--round {
    @include border-radius(50px);
  }

  // Button group
  @if $use-btn-group == true {
    &-group {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      > .btn {
        position: relative;
        float: left;
        &:first-child {
          margin-left: 0;
          &:not(:last-child) {
            @include border-right-radius(0);
          }
        }
        &:last-child:not(:first-child) {
          @include border-left-radius(0);
        }
        &:not(:first-child):not(:last-child) {
          border-radius: 0;
        }
        + .btn {
          margin-left: -1px;
        }
      }

      &--justified {
        display: table;
        width: 100%;
        table-layout: fixed;
        border-collapse: separate;
        > .btn {
          float: none;
          display: table-cell;
          width: 1%;
        }
      }
    }
  }
}
