//
// Partials -> Footer
// ------------------------------------


//
// Footer
//
.page-footer {
  padding-top: 40px;
  padding-bottom: 20px;
  color: $color-type-6b;
  background: $color-type-1a;
  @media screen and (max-width: $screen-sm-max) {
    font-size: 14px;
  }
  span, i {
    vertical-align: middle;
  }
  li {
    margin-bottom: 2px;
  }
  i + span {
    margin-left: 5px;
  }
  .copy {
    color: $white-lighten;
  }
  @media screen and (min-width: $screen-xl) {
    .is-col__xl-3 {
      width: 27%;
    }
    .is-col__xl-5 {
      width: 39%;
    }
  }
}
