//
// Partials -> Header
// ------------------------------------

.phone {
  font-family: 'Book Antiqua Bold';
  font-size: 20px;
  @media screen and (min-width: $screen-md) {
    font-size: 30px;
  }
  span {
    font-size: 12px;
    @media screen and (min-width: $screen-md) {
      font-size: 20px;
    }
  }
}

.mobile-btn {
  font-size: 12px;
  float: right;
  text-transform: uppercase;
  background: #4b6da5;
  height: 100%;
  width: 150px;
  text-align: center;
  padding: 11px 12px;
  height: 38px;
  margin-right: -8px;
  a {
    display: block;
    color: $white-lighten;
    text-decoration: none;
  }
}

//
// Header
//
.page-header {
  background: $white-lighten;
  &__logo {
    a {text-decoration: none;}
    img {
      width: 115px;
      @media screen and (min-width: $screen-md) {
        width: auto;
      }
    }
  }
  .btn-icon {
    @media screen and (min-width: $screen-lg) {
      padding-left: 20px;
      padding-right: 20px;
    }
    @media screen and (min-width: $screen-xl) {
      padding-left: 40px;
      padding-right: 40px;
    }
    span {
      display: none;
      @media screen and (min-width: $screen-lg) {
        display: inline-block;
      }
    }
    @media screen and (min-width: $screen-lg) {
      i + span {
        margin-left: 18px;
      }
    }
  }
  &__top {
    padding: 28px 0;
  }
  &__bottom {
    background: $base-color-main;
  }
  &__phone {
    a {
      font-size: 12px;
      text-decoration: none;
      color: $base-color-main;
      @media screen and (min-width: $screen-md) {
        font-size: 18px;
      }

      i, span {
        vertical-align: middle;
      }
      i + span {
        margin-left: 5px;
      }
    }
  }
}


//
// Main title
//
.title { }


//
// old-browser
//
.browsehappy {
  @extend .container;
}
.lt-ie8 { }
