//
// Partials -> Main
// ------------------------------------

.mr40 {
  margin-right: 40px;
}

.mb20 {
  margin-bottom: 20px;
}

.slider {
  position: relative;
  height: 100%;
  &-arrow {
    &-right,
    &-left {
      position: absolute;
      top: 0;bottom: 0;
      height: 35px;
      margin: auto;
      z-index: 11;
      cursor: pointer;
    }
    &-right {
      left: -5px;
    }
    &-left {
      right: -5px;
    }
    @media screen and (min-width: $screen-xl) {
      &-right {
        left: -70px;
      }
      &-left {
        right: -70px;
      }
    }
  }
}

.main-section {
  padding: 30px 0 230px;
  background: url('../images/main-m.jpg') no-repeat bottom center / cover;
  &__list {
    margin: 30px 0 0;
    @media screen and (min-width: $screen-md) {
      margin: 30px 0 40px;
    }
  }
  @media screen and (min-width: $screen-md) {
    padding: 90px 0 80px;
    background: url('../images/main.jpg') no-repeat center center / cover;
  }
  .btn {
    height: 64px;
  }
}

.calc-section {
  padding: 30px 0;
  background: $white-lighten;
  @media screen and (min-width: $screen-md) {
    padding: 80px 0;
  }
  .itog {
    color: $white-lighten;
    background-color: $base-color-main;
    padding: 9px 5px 9px 25px;
    position: relative;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    line-height: 1.1;
    white-space: nowrap;
    margin-left: 30px;
    font-size: 25px;
    font-family: 'Book Antiqua';
    height: 46px;
    @media screen and (min-width: $screen-md) {
      padding: 12px 5px 12px 25px;
      height: 64px;
    }
    span {
      font-size: 24px;
      @media screen and (min-width: $screen-md) {
        font-size: 36px;
      }
    }
    &:before {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 23px 30px 23px 0;
      border-color: transparent $base-color-main transparent transparent;
      position: absolute;
      top: 0;left: -30px;
      @media screen and (min-width: $screen-md) {
        border-width: 32px 30px 32px 0;
      }
    }
    &:after {
      content: '';
      width: 13px;
      height: 13px;
      border-radius: 18px;
      background: $white-lighten;
      position: absolute;
      top: 0;bottom: 0;
      margin: auto;
      left: -10px;
      z-index: 9;
    }
  }
  &-hide {
    display: none;
  }
  &-br {
    margin: 20px 0 30px;
    position: relative;
    text-align: center;
    border-bottom: 1px solid #b0c2d1;
    cursor: pointer;
    .img {
      background: $white-lighten;
      padding: 10px;
      width: 50px;
      height: 40px;
      position: absolute;
      top: -20px;
      left: 0;right: 0;
      margin: auto;
      @include transition();
    }
    &.act .img {
      transform: rotate(-180deg);
    }
  }
}

.cat-section {
  padding: 30px 0;
  background: $base-color-lighten;
  @media screen and (min-width: $screen-md) {
    padding: 80px 0;
  }
  img {width: 100%;}
  .list--inline > li {
    margin-left: 3px;
    margin-right: 3px;
    padding-left: 0;
    padding-right: 0;
    @media screen and (min-width: $screen-md) {
      margin-left: 7px;
      margin-right: 7px;
      padding-left: 35px;
      padding-right: 35px;
    }
  }
  .btn {
    @media screen and (max-width: $screen-sm-max) {
      padding: 0;
      height: auto;
      border: none;
      font-size: 12px;
    }
    @media screen and (min-width: $screen-md) {
      padding-left: 25px;
      padding-right: 25px;
    }
    @media screen and (min-width: $screen-xl) {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  &__item {
    margin: 8px;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #b0c2d1;
    @media screen and (min-width: $screen-xl) {
      margin: 15px;
    }
    &-desc {
      padding: 15px 10px;
      background-color: $white-lighten;
      @media screen and (min-width: $screen-xl) {
        padding: 30px;
      }
    }

    .btn {
      @media screen and (max-width: $screen-sm-max) {
        padding: 18px 30px;
        height: auto;
        font-size: 12px;
      }
    }
    &-bot {
      position: relative;
    }
    .list--bullet {
      height: 160px;
      @media screen and (min-width: $screen-xl) {
        height: 150px;
      }
      > li {
        margin-bottom: 0;
        &::before {
          background: url('../images/icons/ok.svg') no-repeat center center;
        }
      }
    }

  }
  &-price {
    position: absolute;
    right: 13px;
    top: 1px;
    color: #7d929e;
    padding: 7px 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    line-height: 1.1;
    border: 1px solid #2579bf;
    background-color: #ffffff;
    height: 50px;
    @media screen and (min-width: $screen-md) {
      right: 4px;
      top: 8px;
    }
    @media screen and (min-width: $screen-xl) {
      padding: 7px 20px;
    }
    &:before {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 24px 23px 24px 0;
      border-color: transparent #fff transparent transparent;
      position: absolute;
      top: 0;left: -23px;
      z-index: 9;
    }
    &:after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 24px 23px 24px 0;
      border-color: transparent #2579bf transparent transparent;
      position: absolute;
      top: 0;left: -24px;
    }
    .text__sm:after {
      content: '';
      width: 8px;
      height: 8px;
      border-radius: 18px;
      background: $base-color-main;
      position: absolute;
      top: 0;bottom: 0;
      margin: auto;
      left: -5px;
      z-index: 9;
    }
  }
}

.pr-section {
  padding: 30px 0;
  background: $white-lighten;
  @media screen and (min-width: $screen-md) {
    background: url('../images/pr-back.png') no-repeat bottom right 10%;
    padding: 80px 0 250px;
  }
  @media screen and (min-width: $screen-lg) {
    padding: 80px 0;
  }
}

.rev-section {
  padding: 30px 0;
  background: $base-color-lighten;
  @media screen and (min-width: $screen-md) {
    padding: 80px 0;
  }
  &__item {
    padding: 20px 30px;
    min-height: 250px;
    border-radius: 12px;
    border: 1px solid #d7dfe5;
    background: url('../images/icons/quotes.png') no-repeat top 20px right 30px, $white-lighten;
    @media screen and (min-width: $screen-md) {
      margin: 15px;
    }
  }
}

.form-section {
  padding: 30px 0;
  color: $white-lighten;
  background: $base-color-main;
  @media screen and (min-width: $screen-md) {
    padding: 80px 0;
  }
}
