//
// Modules -> Navs
// --------------------------------------------------

.sub-nav {
  display: none;
  li {
    display: block;
    text-transform: none;
    + li {
      margin-left: 0 !important;
    }
    a {
      color: $white-lighten;
      padding: 10px;
      background: $base-color-dark;
      @media screen and (min-width: $screen-adaptive-nav) {
        padding: 5px 15px;
          // color: $base-color-main;
      }
      &:hover {
        color: $base-color-main;
        background: $subnav-link-hover-bg;
      }
    }
  }
  .main-nav__item--parent > a::after {
    top: 12px;
  }

  @media screen and (min-width: $screen-adaptive-nav) {
    // text-align: center;
    position: absolute;
    background: $white-lighten;
    top: 100%;
    left: 0;
    right: 0;
    display: block;
    opacity: 0;
    z-index: -9999;
    @include transition(opacity 0.5s);
    &--sub {
      left: 100%;
      top: 0;
      min-width: 250px;
    }
    li:hover > & {
      z-index: 1;
      opacity: 1;
    }
  }
}

.main-nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  text-align: center;
  width: 100%;
  // justify-content: space-between;
  background-color: $base-color-main;

  @media screen and (min-width: $screen-adaptive-nav) {
    // display: -webkit-flex;
    // display: -ms-flex;
    display: table;
    width: 100%;
    // flex-wrap: wrap;
    > li {
      display: table-cell;
      width: 16%;
      &:nth-child(2) {
        width: 20%;
      }
    }
  }

  &__item {
    position: relative;
    & + & {
      // @media screen and (min-width: $screen-adaptive-nav) {
      //   margin-left: 8px;
      // }
      // @media screen and (min-width: $screen-lg) {
      //   margin-left: 40px;
      // }
      // @media screen and (min-width: $screen-xl) {
      //   margin-left: 60px;
      // }
    }
    @if $use-adaptive == true {
      display: block;
      @media screen and (min-width: $screen-adaptive-nav) {
        display: inline-block;
      }
    } @else {
      display: inline-block;
    }
    &--parent {
      > a {
        // padding-right: 20px;
        // background: url("../images/icons/menu.svg") no-repeat center right 12%;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          right: 5px;
          top: 50%;
          margin-top: -6px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 9px 6px 0 6px;
          border-color: $white-lighten transparent transparent transparent;
          @media screen and (min-width: $screen-adaptive-nav) {
            margin-top: 0;
            top: 27px;
          }
          @media screen and (min-width: $screen-xl) {
            right: 10px;
          }
        }
        &.act::after,
        &:focus::after,
        &:hover::after {
          border-color: $base-color-main transparent transparent transparent;
        }
      }
    }
  }
  &__link {
    text-transform: uppercase;
    font-family: 'Proxima Nova Bold';
    color: $white-lighten;
    position: relative;
    padding: $nav-link-padding;
    text-decoration: none;
    display: block;
    font-size: 14px;
    @media screen and (min-width: $screen-lg) {
        font-size: 16px;
    }
    &.act,
    &:hover, &:focus {
      color: $base-color-main;
      background: $white-lighten;
      // background-color: darken($base-color-main, 5%);
      text-decoration: none;
    }
  }
  img {
    max-width: none;
  }

  @if $use-adaptive == true {
    &__toggle {
      position: relative;
      // float: right;
      padding: 12px 10px;
      background-color: transparent;
      border: none;
      cursor: pointer;

      &:focus {
        outline: 0;
      }
      .icon-bar {
        display: block;
        width: 20px;
        height: 2px;
        background: #fff;
        // border-radius: 1px;
      }
      .icon-bar + .icon-bar {
        margin-top: 4px;
      }
      @media screen and (min-width: $screen-adaptive-nav) {
        display: none;
      }
    }
    &__collapse {
      overflow-x: visible;
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
      // @include clearfix;
      -webkit-overflow-scrolling: touch;
      clear: left;
      display: none;

      &.in {
        overflow-y: auto;
      }

      @media screen and (min-width: $screen-adaptive-nav) {
        display: block !important;
        width: auto;
        border-top: 0;
        box-shadow: none;

        &.collapse {
          display: block !important;
          height: auto !important;
          padding-bottom: 0;
          overflow: visible !important;
        }

        &.in {
          overflow-y: visible;
        }
      }
    }
  }
}
