footer.page-footer
  .container
    .is-row.between__xs
      .is-col.is-col__xl-4.is-col__lg-5.is-col__sm-4.is-col__xs-12
        ul.list--unstyled
          li
            i.is-icons.is-icons--loc
            span г. Санкт-Петербург, ул. 7-я линия В.О., д. 40 
          li
            i.is-icons.is-icons--loc
            span Петергоф, Санкт-Петербургский пр, 60 
          li
            i.is-icons.is-icons--loc
            span Ломоносов, Полигонный пер.,д. 36 
          li
            i.is-icons.is-icons--loc
            span Пушкин, ул. Набережная, д. 14
          li
            i.is-icons.is-icons--loc
            span  Гатчина, ул.Горького, д. 32
      .is-col.is-col__xl-3.is-col__lg-4.is-col__sm-4.is-col__xs-12
        ul.list--unstyled
          li
            i.is-icons.is-icons--loc
            span Кронштадт, ул. Ленинградская, д. 14
          li
            i.is-icons.is-icons--loc
            span  Купчино, Загребский бульвар, д. 44 
          li
            i.is-icons.is-icons--loc
            span Колпино, пр.Ленина, д. 75
          li
            i.is-icons.is-icons--loc
            span  Сестрорецк, ул. Садовая, д. 16
      .is-col.is-col__xl-5.is-col__lg-3.is-col__sm-4.is-col__xs-12.text--left.text__md--right
        .is-row
          .is-col.is-col__xl-6.is-col__xs-12.hidden__sm.hidden__xs
            a.btn.btn--success.popup(href='#form-id') заказать звонок
          .is-col.is-col__xl-6.is-col__xs-12
            .phone #[span (812)] 987-88-50 
            div пн–пт  с 9:00 до 21:00
            div  сб–вс  с 10:00 до 20:00
        span.copy= index.footer
