header.page-header
  .page-header__top
    .container
      .is-row.between__xs.middle__xs
        .is-col.page-header__logo
            a(href="/")
              img(src="images/logo.png", alt="Company ltd.")
        .is-col.anchor.hidden__sm.hidden__xs
            a.btn.btn-icon.btn--danger(href="#done_pro")
              i.icon-pic
              span готовые решения
        .is-col.anchor.hidden__sm.hidden__xs
            a.btn.btn-icon.btn--outlined(href="#calc")
              i.icon-win
              span калькулятор
        .is-col.page-header__phone
          .phone #[span (812)] 987-88-50
          a.popup(href="#form-id")
            i.is-icons.is-icons--phone
            span Перезвоните мне
  .page-header__bottom
    .container
      include ../components/_navbar
