$icons: (
	  sprite: (width: 701px, height: 81px, svgPath: '../images/svg/sprite.svg'),
 	award: (width: 46px, height: 61px, backgroundX: 0px, backgroundY: 0px),
 	calendar: (width: 56px, height: 58px, backgroundX: -66px, backgroundY: 0px),
 	clock: (width: 52px, height: 56px, backgroundX: -142px, backgroundY: 0px),
 	close: (width: 18px, height: 17px, backgroundX: -214px, backgroundY: 0px),
 	cursoure: (width: 32px, height: 31px, backgroundX: -252px, backgroundY: 0px),
 	like: (width: 59px, height: 53px, backgroundX: -304px, backgroundY: 0px),
 	loc: (width: 14px, height: 17px, backgroundX: -383px, backgroundY: 0px),
 	next-arr: (width: 21px, height: 35px, backgroundX: -417px, backgroundY: 0px),
 	phone: (width: 18px, height: 18px, backgroundX: -458px, backgroundY: 0px),
 	picture: (width: 33px, height: 31px, backgroundX: -496px, backgroundY: 0px),
 	prev-arr: (width: 22px, height: 35px, backgroundX: -549px, backgroundY: 0px),
 	quotes: (width: 38px, height: 21px, backgroundX: -591px, backgroundY: 0px),
 	windows: (width: 32px, height: 32px, backgroundX: -649px, backgroundY: 0px),
);
