main.page-main
  section.main-section
    .container
      .is-row.end__xs
        .is-col.is-col__xl-6.is-col__lg-7.is-col__md-8.is-col__xs-12.text--center.text__md--left
          h1 Натяжные  потолки 
          .is-row.middle__md.top__xs.main-section__list
            .is-col.is-col__xs-6.mb20
              .is-row
                .is-col.is-col__lg-3.is-col__md-4.is-col__xs-12
                  i.is-icons.is-icons--clock
                .is-col.is-col__md-8.is-col__xs-12
                  span От звонка до  замера - 3 часа!
            .is-col.is-col__xs-6.mb20
              .is-row.middle__xs
                .is-col.is-col__lg-3.is-col__md-4.is-col__xs-12
                  i.is-icons.is-icons--like
                .is-col.is-col__md-8.is-col__xs-12
                  span Выезжаем на замер потолков даже  в выходные дни
            .is-col.is-col__xs-6.mb20 
              .is-row.middle__xs
                .is-col.is-col__lg-3.is-col__md-4.is-col__xs-12
                  i.is-icons.is-icons--award
                .is-col.is-col__md-8.is-col__xs-12
                  span Работаем с безопасными пластиковыми баллонами 
            .is-col.is-col__xs-6.mb20
              .is-row.middle__xs
                .is-col.is-col__lg-3.is-col__md-4.is-col__xs-12
                  i.is-icons.is-icons--calendar
                .is-col.is-col__md-8.is-col__xs-12
                  span Срок изготовления и монтажа натяжного потолка - два дня
          a.btn.btn--primary.btn-icons.popup(href='#form-id') 
            img(src='images/icons/cursor.png', alt='')
            span бесплатный вызов замерщика
  section.calc-section#calc
    .container
      .text--center
        h2 калькулятор
        p.text__lg  Если ваше помещение другого размера мы оперативно предоставим расчет звоните #[b 987-88-50.]
      .is-col__xl-9.is-col__lg-11.centered-block
        #myFormNumber1
          .is-row.calc-section-top.bottom__xs
            .is-col.is-col__md-4.is-col__xs-12
              .form__group
                label(for='square') Площадь потолка (м2)
                input#square.control(value='0', name='square', type='text')   
            .is-col.is-col__md-4.is-col__xs-12
              .form__group
                label(for='factura') Фактура
                select.control#factura(name='factura', onchange='onProjectChange()')
                  option(value='0') --Выбор фактуры--
                  option(selected='selected', value='1') Матовые
                  option(value='2') Сатиновые
                  option(value='3') Глянцевые
                  option(value='4') Фактурные
            .is-col.is-col__md-4.is-col__xs-12
              .form__group
                label(for='color') Цвет
                select.control#color(name='color')
                  option(value='0') --Выбор цвета--
                  option(selected='selected', value='1') Белый
                  option(value='2') Цветной
          .calc-section-hide
            .is-row.calc-section-top.bottom__xs
              .is-col.is-col__md-3.is-col__xs-12
                .form__group
                  label(for='qty_corners') Кол-во углов, шт.
                  input#qty_corners.control(value='0', name='qty_corners', type='text')
              .is-col.is-col__md-3.is-col__xs-12
                .form__group
                  label(for='qty_pipes') Кол-во труб, шт
                  input#qty_pipes.control(value='0', name='qty_pipes', type='text')
              .is-col.is-col__md-3.is-col__xs-12
                .form__group
                  label(for='qty_light') Кол-во светильников, шт
                  input#qty_light.control(value='0', name='qty_light', type='text')
              .is-col.is-col__md-3.is-col__xs-12
                .form__group
                  label(for='qty_biglight') Люстры, шт
                  input#qty_biglight.control(value='0', name='qty_biglight', type='text')
          .is-row.calc-section-br
            .img: img(src='images/icons/calc.svg', alt='')
          .is-row.calc-section-bottom
            .is-col.is-col__lg-3.is-col__sm-6.is-col__xs-12(style='overflow:hidden')
              .itog.form__group
                span#result_div_id 0
                |  руб.
            .is-col.is-col__lg-3.is-col__sm-6.is-col__xs-12
              .form__group
                input.control( placeholder='Ваше имя', type='text')
            .is-col.is-col__lg-3.is-col__sm-6.is-col__xs-12
              .form__group
                input.control( placeholder='+ 7 (___) ___-__-__', type='text', name='phone')
            .is-col.is-col__lg-3.is-col__sm-6.is-col__xs-12
              .form__group
                button.btn.btn--primary.btn--full(type='submit') оставить заявку
  section.cat-section#done_pro
    .container
      .text--center
        h2 Готовые решения 
        ul.list--inline
          li.btn.btn--default.active.js-filter-all(href='#') все
          li.btn.btn--default.js-filter-mat(href='#') Матовые
          li.btn.btn--default.js-filter-gl(href='#') глянцевые
          li.btn.btn--default.js-filter-sat(href='#') сатиновые
      .slider
        .slider-arrows.slider-arrow
        .filtering
          - for (var x = 1; x < 5; x++)
            .option.filter-mat
              .cat-section__item
                .cat-section__item-img
                  img(src='images/cat-1.jpg', alt='')
                .cat-section__item-desc
                  h5 Натяжной потолок для гостиной, площадь #[span.text--primary 17 м2]
                  p Включено:
                  ul.list--bullet
                    li Фактура матовая, Германия (Pongs) 
                    li Цвет белый, углы 4 шт. 
                    li Освещение - 1 люстра, трубы отопления - 1 шт
                    li  Белая маскировочная лента. 
                    li Крепежный профиль, монтаж  "под ключ"
                  .cat-section__item-bot
                    a.btn.btn--primary.popup(href='#form-id') хочу такой же
                    .cat-section-price
                      .text__sm под ключ:
                      b.text--primary 11 450
            .option.filter-gl
              .cat-section__item
                .cat-section__item-img
                  img(src='images/cat-2.jpg', alt='')
                .cat-section__item-desc
                  h5 Натяжной потолок в коридор  площадь #[span.text--primary 11 м2]
                  p Включено:
                  ul.list--bullet
                    li Фактура матовая, Германия (Pongs) 
                    li Цвет белый, углы 6 шт. 
                    li Освещение - 1 люстра
                    li  Белая маскировочная лента. 
                    li Крепежный профиль, монтаж
                  .cat-section__item-bot
                    a.btn.btn--primary.popup(href='#form-id') хочу такой же
                    .cat-section-price
                      .text__sm под ключ:
                      b.text--primary 7 700
            .option.filter-sat
              .cat-section__item
                .cat-section__item-img
                  img(src='images/cat-3.jpg', alt='')
                .cat-section__item-desc
                  h5 Натяжной потолок в гостиную дома, площадь #[span.text--primary 27 м2]
                  p Включено:
                  ul.list--bullet
                    li  Фактура глянцевая,  производитель - Германия (Pongs) 
                    li Цвет полотна  белый, углы 8 шт. 
                    li Люстра потолочного крепления 2шт
                    li  Белая маскировочная лента
                    li  Крепежный профиль, монтаж 
                  .cat-section__item-bot
                    a.btn.btn--primary.popup(href='#form-id') хочу такой же
                    .cat-section-price
                      .text__sm под ключ:
                      b.text--primary 17 700
  section.pr-section
    .container
      .text--center
        h2 натяжной потолок под ключ 
      .is-row
          .is-col.is-col__lg-6.is-col__xs-12
            p: b.text__lg В стоимость входит:
            ul.list--bullet
              li Полотно  Pongs (Германия) 
              li Багет
              li  Декоративная лента 
              li Закладные под люстру или светильники 
              li Обход труб и т.д
              li  Монтаж
          .is-col.is-col__lg-6.is-col__xs-12
  section.rev-section
    .container
      .text--center
        h2 отзывы 
      .slider
        .slider-arrows.slider-arrow-r
        .slider-rev
          - for (var x = 1; x < 4; x++)
            .rev-section__item
              .is-row.between__xs
                .is-col: h5 Марина Сергеевна
                .is-col: p.mr40.text--primary 16.08.17
              p Слышала про Вашу компанию от родителей, которые остались очень довольны. Монтаж потолка был сделан аккуратно, поэтому мы решили тоже заказать потолок в компании «Гранд». Мы вызвали инженера по замеру, обсудили расцветку и фактуру потолка – выбрали белый глянец производства Pongs и планировали повесить красивую люстру. Через два дня потолок был уже готов и мы обсудили дату установки. Потолок был очень ровным и без запаха.Мы все очень довольны, большое спасибо.
            .rev-section__item
              .is-row.between__xs
                .is-col: h5 Юлия 
                .is-col: p.mr40.text--primary 08.05.17
              p Устанавливали потолок­ в маленькую комнату ­13 кв. Все смонтирова­ли четко, быстро и ка­чественно. Отношение ­было очень ответствен­ное, ни разу не проиг­норировали звонки. Пе­рвый раз мы оформляли­ на одну дату, затем ­переносили на другой ­день, в компании Гран­д пошли на встречу. П­о времени работ, отта­лкивались от наших по­желаний, ориентируясь­ на удобные для нас ч­асы. Спасибо вам боль­шое за участие  и каче­ственную работу
  section.form-section
    .container.text--center
      h2 бесплатный вызов замерщика 
      .is-col__xl-8.is-col__lg-10.centered-block
        form(action="#" method="method")
          .is-row.middle__xs
            .is-col.is-col__md-4.is-col__sm-6.is-col__xs-12
              .form__group
                input.control.control-name(type='text', placeholder='Ваше имя', name='name')
            .is-col.is-col__md-4.is-col__sm-6.is-col__xs-12
              .form__group
                input.control.control-phone(type='text', placeholder='+ 7 (___) ___-__-__', name='phone')
            .is-col.is-col__md-4.is-col__xs-12
              .form__group
                button.btn.btn--info.btn--full(type='submit') оставить заявку
                
